<ul>
  <% if ::Refinery::TableLists::Admin::TableListsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.table_lists_admin_table_lists_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_table_lists_admin_table_list_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::TableLists::Admin::TableListsController.sortable? && ::Refinery::TableLists::TableList.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Table Lists"),
                 refinery.table_lists_admin_table_lists_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Table Lists"),
                 refinery.table_lists_admin_table_lists_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
