<%# encoding: utf-8 %>
<%= form_tag "/select_engines/select_engine", :method => :post do %>
  <table cellpadding="5" cellspacing="5">
    <tr>
    	<th></th>
    	<th>图片</th>
    	<th>名字</th>
    	<th>价格</th>
    	<th>位置</th>
    	<th>产地</th>
    	<th>类型</th>
    	<th></th>
    </tr>
    <%= render :partial => 'wine', :collection => @wines %>
  </table>
  <div style="text-align:center">
  	<input type="submit" value="加入"/>
  	<%= select_tag "wine[api_type]", api_type_select_option.html_safe  -%>
  </div>
<% end %>
<%= render '/refinery/admin/sortable_list',
            :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true %>
