<ul>
  <% if ::Refinery::ApiWaters::Admin::ApiWatersController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.api_waters_admin_api_waters_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_api_waters_admin_api_water_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::ApiWaters::Admin::ApiWatersController.sortable? && ::Refinery::ApiWaters::ApiWater.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Api Waters"),
                 refinery.api_waters_admin_api_waters_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Api Waters"),
                 refinery.api_waters_admin_api_waters_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
