<table  cellpadding="5" cellspacing="5">
	<tr>
		<th>类型</th>
		<th>图片</th>
		<th>名字</th>
		<th>价格</th>
		<th>位置</th>
		<th>产地</th>
		<th>葡萄酒类型</th>
		<th></th>
	</tr>
	<%= render :partial => 'api_wine', :collection => @api_wines %>
</table>
<%= render '/refinery/admin/sortable_list',
            :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true %>
