<%= will_paginate @foods if Refinery::Foods::Admin::FoodsController.pageable? %>
<table>
  <tr>
    <th></th>
    <th>英文名</th>
    <th>中文名</th>
    <th>价格</th>
    <th></th>
  </tr>

  <ul id='sortable_list'>
    <%= render :partial => 'food', :collection => @foods %>
  </ul>
</table>

