<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Foods::Admin::FoodsController.sortable? and ::Refinery::Foods::Food.count > 1 %>
